<h1>New Cat Form</h1>

<%= render 'form', cat: @cat %>

<!-- <form action="<%= cats_url %>" method="post">

  <label for="name">Name: </label>
  <input id="name" type="text" name="cat[name]">

  <br>

  <label for="sex">Sex: </label>
  <input id="sex" type="radio" name="cat[sex]" value="M" checked>Male
  <input id="sex" type="radio" name="cat[sex]" value="F">Female

  <br>

  <label for="color">Color: </label>
  <select id="color" name="cat[color]">
    <% Cat::CAT_COLORS.each do |color| %>
      <option value="<%= color %>"><%= color.capitalize %></option>
    <% end %>
  </select>

  <br>

  <label for="birth_date">Birth Date: </label>
  <input type="date" name="cat[birth_date]">

  <br>

  <label for="description">Description: </label>
  <br>
  <textarea name="cat[description]"></textarea>
  <br><br>
  
  <input type="submit" value="Add new cat!">
</form> -->
